
.phone__container{
    margin-bottom: 2rem!important;    
}

.phone__input{
    background-color: #FAFAFA!important;

    border-radius: 0.8rem!important;
    width: 100%!important;
    height: 40px!important;
}

.open{
    background-color: #FAFAFA!important;
    border: none!important;
    border-radius: 0.8rem!important;
}

.open:hover{
    background-color: #FAFAFA!important;
    border: none!important;
    border-radius: 0.8rem!important;
}

.phone__input:hover{
    background-color: #FAFAFA!important;
    border: none!important;
    border-radius: 0.8rem!important;
    .selected-flag{
        background-color: #FAFAFA!important;
        border: none!important;
        border-radius: 0.8rem!important;
    }
}

.phone__button{
    background-color: #FAFAFA!important;
    border: none!important;
    border-radius: 0.8rem!important;
    .selected-flag{
        background-color: #FAFAFA!important;
        border: none!important;
        border-radius: 0.8rem!important;
    }
}

.phone__button:hover{
    background-color: #FAFAFA!important;
    border: none!important;
    border-radius: 0.8rem!important;
}

.phone__dropdown{
    background-color: #FAFAFA!important;
    border: none!important;
    border-radius: 0.8rem!important;
}

.phone__dropdown:hover{
    background-color: #FAFAFA!important;
    border: none!important;
    border-radius: 0.8rem!important;
}
.phone__search{
    background-color: #FAFAFA!important;
    border: none!important;
    border-radius: 0.8rem!important;
}

.phone__search:hover{
    background-color: #FAFAFA!important;
    border: none!important;
    border-radius: 0.8rem!important;
}