.tabs__container{
    max-width: 200px;
}

.user__card-profile{
    transition: all 0.15s ease-out;
    transform-style: preserve-3d;
    will-change: transform, filter;
}

.card-user__container{
    max-height: 600px;
}

.card-race-profile__container{
    max-height: 120px;
}

